* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 7vh;
  background-color: rgba(22, 22, 23, 0.8);
  backdrop-filter: saturate(180%) blur(10px);
  position: fixed;
  z-index: 1000;
  top: 0;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 2.5rem;
  color: white;
  font-size: 14px;
  font-weight: 0;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.nav-list li:hover{
  cursor: pointer;
}

.nav-items {
  display: flex;
  gap: 2.5rem;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.liitem{
  height:7vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hamburger {
  display: none;
  cursor: pointer;
}
.offer-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vh;
  width: 100%;
  background-color: #1d1d1f;
  color: white;
  top: 7vh;
  position: relative;
  z-index: 1;
}
.land-head {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20vh;
  flex-direction: column;
  height: 20vh;
  /* border: solid white; */
}
.land-head h1 {
  top: -9vh;
  position: absolute;
  z-index: 1;
  color: white;
  font-size: 2.5rem;
  line-height: 1.07143;
  font-weight: 600;
  width: 30vw;
  /* width: 50vw; */
  text-align: center;
}
.animate__fadeIn{
  animation-duration: 0.5s;
}

.iphone16pro {
  /* background-image: url(https://www.apple.com/v/home/br/images/heroes/iphone-16-pro/hero_iphone16pro_avail__fnf0f9x70jiy_small.jpg); */
  /* background-size: contain; */
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 10vh;
}
.iphone16 img {
  position: absolute;
  top: -7vh;
}
.iphone16 {
  position: relative;
  top: 27vh;
  height: 150vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(14, 21, 75);
  background: linear-gradient(
    180deg,
    rgba(14, 21, 75, 1) 0%,
    rgba(192, 201, 237, 1) 97%,
    rgba(203, 209, 241, 1) 100%
  );
}
.iwatch {
  position: relative;
  top: 27vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* background-color: rgb(245 245 247); */
}
.iwatch h1 {
  color: black;
}
.iwatch img {
  width: 100%;
  height: 70vh;
  margin-top: 17vh;
}
.int-img {
  height: auto;
  width: 62vw;
  margin-bottom: 5vh;
}
.hero-img {
  width: 100vw;
}
.buy-btn {
  position: absolute;
  bottom: 12vh;
  padding: 15px 25px;
  background-color: rgb(62, 62, 234);
  color: white;
  border-radius: 1.5rem;
  border: none;
}
.buy-btn:hover {
  cursor: pointer;
}
.p1 {
  position: absolute;
  bottom: 7vh;
  color: gray;
}
.p2 {
  position: absolute;
  bottom: 3vh;
  color: gray;
}
.iphone16 .p1,
.p2 {
  color: black;
}

.iwatch h2 {
  margin-bottom: 22vh;
}
.watch,
.airpods4,
.promos,
.applecard {
  position: relative;
  top: 27vh;
  height: 100vh;
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* border: solid; */

  /* justify-content: center; */
}
.watch img {
  width: 100%;
  height: 100%;
}
.airpods4 img {
  width: 100%;
  height: 100%;
}
.promos img {
  width: 100%;
  height: 90vh;
}
.applecard img {
  width: 1200px;
  height: 90vh;
}
.promos h1,
.applecard h1 {
  color: black;
}
.airpods4 {
  color: white;
}
.land-detail {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.watch .land-detail,
.applecard .land-detail {
  position: absolute;
  top: 45vh;
  width: 40vw;
}
.promos .land-detail {
  position: absolute;
  bottom: 0vh;
  width: 40vw;
}
.watch h2 {
  color: white;
  margin-bottom: 18vh;
}
.applecard h2 {
  margin-bottom: 18vh;
}
.airpods4 h3 {
  color: white;
}
.land-small-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.airpods4 .land-head h1
 {
  margin-top: 55vh;
  width: 100%;
}
.promos .land-head h1{
  margin-top: 45vh;
  width: 100%;
}
.airpods4 .land-head h2,
.promos .land-head h2 {
  margin-top: 92vh;
}
.vert-carousel {
  position: relative;
  top: 33vh;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2rem;
  flex-wrap: nowrap;
  background-color: #f9f9f9;
  color: #666;
  font-size: 14px;
  border-top: 1px solid #e0e0e0;
}
.foot-cont {
  position: relative;
  top: 27vh;
  background-color: #f9f9f9;
  color: #666;
  padding: 2rem;
}
.foot-cont p {
  font-size: 14px;
  margin-top: 1rem;
}

.footer-section {
  width: 23%;
}

.footer-section h4 {
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
}

.footer-section ul li {
  line-height: 1.8;
}

.footer-section ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 90vh;
  top: 27vh;
}

.carousel-container img {
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
}

.curr {
  position: relative;
  z-index: 2;
}

.prev {
  opacity: 0.7;
  position: relative;
  margin-right: 1rem;
}

.next {
  opacity: 0.7;
  position: relative;
  margin-left: 1rem;
}
.vert-carousel img{
  height: 40vh;
  width: 30vw;
}
.hover-content {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgb(47, 46, 46);
  color: rgb(250, 248, 248);
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  z-index: 10;
  width: 100%;
  height: 60vh;
  display: flex;
  gap: 10vw;
}
.hover-content div{
  margin-top: 5vh;
  margin-left: 10vw;
}
.hover-content div h1{
  font-size: 1.5rem;
}
.hover-content div p{
  font-size: 1.1rem;
}
.store{
  margin-top: 7vh;
  /* background-color: #1d1d1f; */
}
.store img{
  width: 27vw;
  height: 100vh;
  margin: 2rem;
  border-radius: 1rem;
}
.store h1{
  font-size: 4rem;
  margin-left: 2rem;
  font-weight: 700;
  /* color: gray; */
}
.store h1 span{
  color: rgb(252, 81, 81);
}
.store-img{
  display: flex;
  position: relative;
  top: 10vh;
}
.airpods-head img{
  width: 100vw;
  height: auto;
  margin-top: 5vh;
}
.airpods-head h1{
  font-size: 6rem;
 text-align: center;
  font-weight: 700;
}
.tvhome{
  margin-top: 8vh;
}
.tvhome h1{
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}
.tvhome img{
  width: 100vw;
}
.tvhome h3{
  font-size: 1.2rem;
  width: 100vw;
  text-align: center;
}
.entertain{
  margin-top: 10vh;
}
.support{
  margin-top: 10vh;
}
.support h1{
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

@media (max-width: 768px) {
  nav{
    width: 100%;
  }
  /* .liitem{
    display: none;
  } */
   .nav-items{
    display: none;
   }
  .hamburger{
    display: block;
  }
  .nav-items.show{
    background-color: #1d1d1f;
    width: 100vw;
    height: 60vh;
    position: absolute;
    top: 7vh;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .foot-cont {
    width: 100vw;
    top: 0vh;
  }
  .support{
    height: 50vh;
  }
  .footer-container {
    flex-wrap: wrap;
  }
  .iphone16pro {
    height: 60vh;

    top: 0vh;
  }
  .iphone16pro img {
    height: 100%;
    width: 100vw;
  }
  .offer-bar {
    padding: 1rem;
    font-size: 12px;
  }
  .iphone16 {
    top: 1vh;
    height: 90vh;
  }
  .iphone16 img {
    top: 10vh;
  }
  .iphone16 .land-detail {
    position: absolute;
    bottom: 30vh;
    width: 100%;
  }
  .iwatch {
    top: 0;
   
  }
  .iwatch img {
    width: 100%;
    height: 30vh;
    margin-top: 20vh;
  }

  .iwatch .land-detail {
    position: absolute;
    bottom: 25vh;
    width: 100%;
  }
  .land-small-cont {
    flex-direction: column;
  }
  .watch,
  .airpods4 {
    top: -15vh;
    width: 100%;
    height: 80vh;
  }
  .watch .land-head h1,
  .promos .land-head h2 {
    text-align: center;
    width: 100%;
  }
  .watch .land-detail {
    top: 40vh;
  }
  .watch h2 {
    margin-bottom: 23vh;
  }
  .airpods4 .land-head h1 {
    margin-top: 45vh;
    text-align: center;
    width: 100%;
  }
  .airpods4 .land-head h2 {
    margin-top: 92vh;
    text-align: center;
    width: 100%;
  }
  .promos,
  .applecard {
    width: 100%;
    top: -18vh;
  }

  .applecard .land-head h1 {
    width: 100%;
  }
  .carousel-container {
    top: -37vh;
    height: 70vh;
  }
  .carousel-container img {
    object-fit: contain;
  }
  .vert-carousel{
    display: none;
  }

  .store-img{
    flex-direction: column;
    margin-right: 20vw;
  }
  .store img{
    width: 90vw;
    height: 90vh;
  }
  .tvhome img{
    width: 100vw;
    height: 100vh;
  }
}
